{% extends "AdminBundle::Layout/master.html.twig" %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}

    <section>
        {% include 'AdminBundle:Common:leftmenu.html.twig' %}
        <!-- body content start-->
        <div class="body-content" style="min-height: 1200px;">
            {% include 'AdminBundle:Common:header.html.twig' %}

            <!-- page head start-->
            <div class="page-head">
                <h3>Dashboard</h3>
                <span class="sub-title">Welcome to SlickLab dashboard</span>
                <div class="state-information">
                    <div class="state-graph">
                        <div id="balance" class="chart"></div>
                        <div class="info">Balance $ 2,317</div>
                    </div>
                    <div class="state-graph">
                        <div id="item-sold" class="chart"></div>
                        <div class="info">Item Sold 1230</div>
                    </div>
                </div>
            </div>
            <!-- page head end-->
            <!--body wrapper start-->
            <div class="wrapper">      
            {% if is_granted(expression('"ROLE_ADMINs"')) %}   
                <a href="...">Delete</a>
            {% endif %}
                body content goes here ..
            </div>
            {% include 'AdminBundle:Common:footer.html.twig' %}
            {% include 'AdminBundle:Common:rightmenu.html.twig' %}
            <!--body wrapper end-->
        </div>
        <!-- body content end-->
    </section>
{% endblock %}
