<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li ><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboad</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i>
            <span>Student</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a routerLink="/admin/student"><i class="fa fa-circle-o"></i> Add</a></li>
        </ul>
    </li>
  
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i>
            <span>Manage</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a routerLink="/admin/class"><i class="fa fa-circle-o"></i> Class</a></li>
            <li><a routerLink="/admin/section"><i class="fa fa-circle-o"></i> Section</a></li>
            <li><a routerLink="/admin/center"><i class="fa fa-circle-o"></i> Center</a></li>
        </ul>
    </li>                  
</ul>
                  