<!-- sidebar left start-->
        <div class="sidebar-left">
            <!--responsive view logo start-->
            <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
                <a href="index-2.html">
                    <img src="img/logo-icon.png" alt="">
                    <!--<i class="fa fa-maxcdn"></i>-->
                    <span class="brand-name">SlickLab</span>
                </a>
            </div>
            <!--responsive view logo end-->

            <div class="sidebar-left-info">
                <!-- visible small devices start-->
                <div class=" search-field">  </div>
                <!-- visible small devices end-->

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked side-navigation">
                    <li>
                        <h3 class="navigation-title">Navigation</h3>
                    </li>
                   
                    <li>
                        <h3 class="navigation-title">Components</h3>
                    </li>
                    <li class="menu-list"><a href="#"><i class="fa fa-cogs"></i> <span>Administartor</span></a>
                        <ul class="child-list">
                            <li><a href="{{ path('admin.role.list') }}">Roles</a></li>
                            <li><a href="{{ path('admin.permission.list') }}">Permission</a></li>                            
                        </ul>
                    </li>

                    <li class="menu-list"><a href="javascript:;"><i class="fa fa-th-list"></i> <span>Data Tables</span></a>
                        <ul class="child-list">
                            <li><a href="table-static.html"> Basic Table</a></li>
                            
                        </ul>
                    </li>

                    <li class="menu-list"><a href="#"><i class="fa fa-tasks"></i> <span>Forms</span></a>
                        <ul class="child-list">
                            <li><a href="form-layout.html"> Form Layouts</a></li>
                           
                        </ul>
                    </li>

                  

                </ul>
                <!--sidebar nav end-->

            </div>
        </div>
        <!-- sidebar left end-->
